



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: -10px;
  }
  /* Add a black background color to the top navigation */
ul {
    background-color: black;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  ul a {
    float: left;
    color: #d65cff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  ul a:hover {
    background-color: #760096;
    color: black;
  }
  
  /* Add a color to the active/current link */
  ul a.active {
    background-color: #4CAF50;
    color: white;
  }
  #chat {
    position: absolute;
    left: 1567px;
    width: 350px;
    height: 900px;
    top: 50px;
  }

